
  <!--
  <p>hero works!</p>
  -->
  <!-- Pagina 3 -->
  <!-- <p *ngIf="name === 'Boothstomper'" >{{ name }} hero works</p>
  <p *ngIf="name !== 'Boothstomper'" >{{ name }} hero works</p> -->
  
  
  <!-- Pagina 4 -->
  <!-- <p *ngIf="name === 'Boothstomper'; else noHero" >{{ name }} hero works</p> -->

  <div *ngIf="hero; else noHero">
    <h3>{{ hero.name }}</h3>
    <p>Equipo: {{ hero.team }}</p>
  </div>
  
  <ng-template #noHero>
    <p>Hero was not found</p>
  </ng-template>
  
  <!-- 
  // Uso de ng-template
  // ejercicio: Iterar con ngFor por la lista de heroes
  //            Si hay heroes mostrar los heroes, si no hay mostrar el mensaje "No hay heroes"
  
  
  
  // ejercicio:
  // Crear un componente llamado loader , que muestre un icono animado que perm_device_information
  // que esta cargando datos, dependiendo de una variable llamada loading
  // Si no se estan cargando los datos, se mostraran los datos de los heroes ,
  // si todavía se estan cargando, se mostrara el componente con el icono animado indicando
  // con un mensaje que se estan cargando datos...
  // Usar una variable llamada loading que cambiara el estado para mostrar el componente loader
  // o los datos ya cargados de los heroes.
  // Inicialmente se estará en carga, y a los 7 segundos se finalizara la carga de datos
  // simulamos una peticion asincrona a servidor.
  // Crear esto con un setTimer o setTimeOut
  
  
  // Ejercicio:
  // Crear un componente llamado HeroListElements que tendra dentro una lista de heroes que recibe como parametro de entrada
  // en una propiedad data ( propiedad Input)
  // y el componente tendra 2 botones para mostrar los heroes en formato tabla, o en formato card
  // Uso de ng-template 
  -->

