<!-- 
<app-hero [name]="'Boothstomper'"></app-hero>
<app-hero [name]="'Drogfisher'"></app-hero>

 -->

<!-- HECHO -->
<!-- Ejercicio -->
<!-- Al hacer click en el heroe, a traves de comunicacion con componentes -->
<!-- Mostrar la informacion del heroe seleccionado en la derecha -->

<div class="container">
  <div class="row">
    <div class="col-sm col-md">
      <app-hero-list (selectedHero)="selectHero($event)"></app-hero-list>
    </div>
    <div class="col-sm">
      <app-hero *ngIf="selectedHero"
      [hero]="selectedHero"
      ></app-hero>
    </div>

  </div>
</div>

<!--
<app-heroes></app-heroes>
<app-pipes></app-pipes>
<p appCopyright></p>
<input appNumeric />
<div *appPermission="['admin', 'agent']">
  <h3>This area can be accessed by admins and agents only</h3>
</div>
-->
